@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* ======== GLOBAL CSS START ======== */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none !important;
}

html, body {
  font-size: 14px;
  font-weight: 400;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: #1a1a1a;
  color: #f2f2f2;
  font-family: "Poppins", sans-serif;
  scrollbar-width: thin;
  line-height: 125%;
}

/* For firefox */
::-moz-selection {
  background-color: #950740;
  color: #f2f2f2;
}

/* For safari and chrome */
::-moz-selection {
  background-color: #950740;
  color: #f2f2f2;
}
::selection {
  background-color: #950740;
  color: #f2f2f2;
}

img {
  width: 100%;
  vertical-align: middle;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  cursor: pointer;
}

p {
  font-size: 1rem;
  font-weight: 400;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
}

h2 {
  font-size: 2rem;
  font-weight: 800;
}

h3 {
  font-size: 1.75rem;
  font-weight: 700;
}

h4 {
  font-size: 1.5rem;
  font-weight: 600;
}

h5 {
  font-size: 1.25rem;
  font-weight: 500;
}

.author-button {
  position: relative;
  display: inline-block;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  text-align: start;
  padding: 8px 16px;
  border: 2px solid #c3073f;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.author-button.color-light {
  color: #f2f2f2;
}

.author-button:hover.color-light {
  color: #1a1a1a;
}

.author-button.color-dark {
  color: #1a1a1a;
}

.author-button:hover.color-dark {
  color: #f2f2f2;
}

.author-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #c3073f;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition-timing-function: cubic-bezier(0.5, 1.5, 0.5, 0.8);
          transition-timing-function: cubic-bezier(0.5, 1.5, 0.5, 0.8);
  z-index: -1;
}

.author-button.slide-left::before {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.author-button.slide-left:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.author-button.slide-right::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.author-button.slide-right:hover::before {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.author-button.slide-top::before {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.author-button.slide-top:hover::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.author-button.slide-bottom::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.author-button.slide-bottom:hover::before {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.author-button:not(:last-child) {
  margin-right: 4px;
}

.author-link {
  position: relative;
  font-size: 1rem;
  font-weight: 400;
}

.author-link.color-dark {
  color: #1a1a1a;
}

.author-link.color-light {
  color: #f2f2f2;
}

.author-link.color-light-red {
  color: #c3073f;
}

.author-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(#c3073f));
  background: linear-gradient(90deg, transparent, #c3073f);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scale(0);
          transform: scale(0);
  z-index: 1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.author-link:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

/* ======== GLOBAL CSS END ======== */
/* ======== HEADER CSS START ======== */
.header {
  width: 100%;
  height: 100%;
}

/* ======== HEADER CSS END ======== */
/* ======== GAME LAYOUT CSS START ======== */
.game-layout {
  overflow: hidden !important;
}
.game-layout .game-move {
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 8px;
}
.game-layout .player-move-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: transparent;
  padding: 25px;
  margin-right: 15px;
  border: 2px solid #c3073f;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.game-layout .player-move-button img {
  width: auto;
  height: 60px;
}
.game-layout .player-move-button:hover {
  background-color: rgba(195, 7, 63, 0.2);
}
.game-layout .table {
  color: #f2f2f2;
  text-align: center;
  overflow-y: hidden !important;
}

/* ======== GAME LAYOUT CSS END ======== */
/* ======== FOOTER CSS START ======== */
.footer {
  width: 100%;
  height: 100%;
}
.footer .socials {
  margin-top: 15px;
}
.footer .socials .social-media {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f2f2f2;
  font-size: 0.9rem;
  padding: 10px;
  -webkit-box-shadow: rgba(242, 242, 242, 0.2) 2px 2px 2.5px;
          box-shadow: rgba(242, 242, 242, 0.2) 2px 2px 2.5px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  cursor: pointer;
}
.footer .socials .social-media:not(:last-child) {
  margin-right: 5px;
}
.footer .socials .social-media.twitter {
  background-color: #55acee;
}
.footer .socials .social-media.github {
  background-color: #171515;
}
.footer .socials .social-media.codepen {
  background-color: #121316;
}
.footer .socials .social-media.linkedin {
  background-color: #0e76a8;
}
.footer .socials .social-media:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

/* ======== FOOTER CSS END ======== */
/* ======== RESPONSIVE CSS START ======== */
@media (max-width: 425px) {
  .author-button {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 0 5px 0;
  }
  .footer .socials {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    -webkit-column-gap: 5px;
       -moz-column-gap: 5px;
            column-gap: 5px;
    row-gap: 5px;
  }
  .footer .socials .social-media {
    grid-column: span 1;
  }
  .footer .socials .social-media:last-child {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .footer .socials .social-media:not(:last-child) {
    margin-right: 0;
  }
}
/* ======== RESPONSIVE CSS END ======== *//*# sourceMappingURL=main.css.map */